<!doctype html>
<html lang="en" ng-app="eventsApp">
    <head>
        <meta charset="utf-8">
        <title>Event Registration</title>
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/app.css">
    </head>
    <body ng-cloak>
    	<div class="container">
    		<div class="navbar">
    			<div class="navbar-inner">
    				<ul class="nav">
    					<li><a href="/app/NewEvent.html">Create Event</a></li>
    				</ul>
    			</div>
    		</div>
		<div ng-controller="EventController" style="padding-left:20px;padding-right:20px;">
					<img ng-src="{{event.imageUrl}}" alt="{{evenet.name}}"/>
        			<div class="row">
        				<div class="span11">
        					<h2 ng-class="myclass" ng-bind-template="{{event.name}} {{event.date}}"></h2>
        				</div>
        			</div>
            <div ng-bind-html="snippet">some title</div>
            <div ng-bind-html="deliberatelyTrustDangerousSnippet()">some title</div>

            <h2 ng-show="boolValue">{{"Show This" | uppercase}}</h2>
            <h2 ng-hide="boolValue">Hide This</h2>

            <!-- <div>{{event | json}}</div> -->

            <button class="btn btn-primary" ng-click="toggleShowHide()" ng-disabled="buttonDisabled">
                show/hide
            </button>

            <div class="row">
        				<div class="span3">
        					<div><strong>Date:</strong>{{event.date}}</div>
        					<div><strong>Time:</strong>{{event.time}}</div>
        				</div>
        				<div class="span4">
        					<address>
        						<strong>Address:</strong><br/>
        						{{event.location.address}}<br/>
       							{{event.location.city}}<br/>
       							{{event.location.province}}<br/>
        					</address>
        				</div>
        			</div>
            <hr/>
                <h3> Sessions </h3>
                Order By:
                <select ng-model="sortorder" class="input-small">
                    <option selected value="name">Name</option>
                    <option value="-upVoteCount">Votes</option>
                </select>
                <select ng-model="query.level" class="input-small>">
                    <option selected value="">All</option>
                    <option selected value="introductory">Introductory</option>
                    <option selected value="intermediate">Intermediate</option>
                    <option selected value="advanced">Advanced</option>
                </select>
            <ul class="thumbnails">
                <li ng-repeat="session in event.sessions | orderBy:sortorder | filter:query">

                    <div class="row session">
                         <div class="span0 well votingWidget">
                            <div class="votingButton" ng-click="upVoteSession(session)">
                                <i class="icon-chevron-up"></i>
                            </div>
                            <div class="badge badge-inverse">
                                <div>{{session.upVoteCount}}</div>
                            </div>
                           <div class="votingButton" ng-click="downVoteSession(session)">
                                <i class="icon-chevron-down"></i>
                            </div>
                        </div>
                       <div class="well span9">
                            <h4 class="well-title">{{session.name}}</h4>
                            <h6 class="margin-top:-10px">{{session.creatorName}}</h6>
                            <span>Duration: {{session.duration | durations}}</span>
                            <span>Level: {{session.level}}</span>
                            <p>{{session.abstract}}</p>
                        </div>
                    </div>
                </li>
            </ul>
    		</div>
    	</div>
    	<script src="js/jquery-1.11.1.min.js"></script>
    	<script src="js/underscore.js"></script>
    	<script src="bootstrap/js/bootstrap.min.js"></script>
    	<script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular/angular-sanitize.min.js"></script>
    	<script src="js/app.js"></script>
        <script src="js/controllers/EventController.js"></script>
        <script src="js/services/EventData.js"></script>
        <script src="js/filters.js"></script>
    </body>
</html>